[Desktop Entry]
Name=Laby
GenericName=Programming Game
Exec=laby
Icon=laby
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
Comment=Learn how to program with ants and spider webs
Comment[af]=Leer om te programmeer met miere en spinnerakke
Comment[ast]=Deprendi a programar con formigues y redes de arañes
Comment[bg]=Научете се да програмирате с мравки и паяжини
Comment[bn]=শিখুন কিভাবে এন্ট এবং স্পাইডার ওয়েবের সঙ্গে প্রোগ্রাম
Comment[bs]=Naučite se kako programirati pomoću mrava i paukovih mreža
Comment[ca@valencia]=Apreneu a programar amb formigues i teles d'aranya
Comment[ca]=Apreneu a programar amb formigues i teles d'aranya
Comment[crh]=Karıncalar ve örümcek ağları ile programlamayı öğrenin
Comment[cs]=Naučte se programovat s pomocí mravenců a pavučin
Comment[da]=Lær at programmere med myrer og spindelvæv
Comment[de]=Lernen Sie Programmieren, mit Ameisen und Spinnennetzen
Comment[el]=Μάθετε προγραμματισμό με μυρμηγκάκια και ιστούς αράχνης
Comment[es]=Aprende a programar con hormigas y redes de arañas
Comment[es_MX]=Aprenda a programar con hormigas y telarañas
Comment[fi]=Opettele ohjelmoimaan muurahaisilla ja hämähäkkien verkoilla
Comment[fr]=Apprenez à programmer avec des fourmis et des toiles d'araignées
Comment[gl]=Aprenda a programar con formigas e arañeiras
Comment[hu]=Tanulj programozni hangyákkal és pókhálókkal
Comment[hy]=Ինչպես ծրագրավորել մրջունների և սարդերի ցանցերի միջոցով
Comment[id]=Belajar memprogram dengan ants dan spider web
Comment[it]=Imparare a programmare con ant e spider web
Comment[ja]=クモの巣を避けるアリプログラムを作ろう
Comment[ky]=Кумурскалардын жана жөргөмүштөрдун желелерин үлгү кылып программалоого үйрөтүү
Comment[lv]=Iemācīties programmēt ar skudru un zirnekli
Comment[ms]=Pelajari bagaimana lakukan pengaturcaraan
Comment[nb]=Lær å programmere med maur og edderkoppnett
Comment[nl]=Leren programmeren met mieren en spinnenwebben
Comment[oc]=Aprene a programar amb de formigas e de telaranhas
Comment[pl]=Nauka programowania z udziałem mrówek i pajęczyn
Comment[pt]=Aprende a programar com as formigas e as teias de aranha
Comment[pt_BR]=Aprenda a programar com formigas e teias de aranha
Comment[ro]=Învățați programare cu furnici și păianjeni virtuali
Comment[ru]=Обучение программированию на примере муравьёв и паучьих сетей
Comment[sl]=Naučite se programiranja s pomočjo mravelj in pajkovih mrež
Comment[sq]=Mësoni si të programoni me milingona dhe rrjeta merimange
Comment[sr]=Научите како да се програм са мравима и паука Вебс
Comment[sv]=Lär dig att programmera med myror och spindelnät
Comment[th]=เรียนรู้วิธีการเขียนโปรแกรมที่มีมดและใยแมงมุม
Comment[tr]=Karıncalar ve örümcek ağları ile programlamayı öğrenin
Comment[uk]=Навчання програмуванню на прикладі мурашок та павукових мереж
Comment[vi]=Học cách để lập trình với kiến và mạng nhện
Comment[zh_CN]=了解如何使用蚂蚁和蜘蛛网进行编程
Comment[zh_TW]=學習如何用 ants 和 spider webs 寫程式
